@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-ExtraLight.ttf) format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Light.ttf) format("truetype");
  font-weight: 300; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Regular.ttf) format("truetype");
  font-weight: 400; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Medium.ttf) format("truetype");
  font-weight: 500; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-SemiBold.ttf) format("truetype");
  font-weight: 600; }

@font-face {
  font-family: "Oswald";
  src: url(/fonts/Oswald-Bold.ttf) format("truetype");
  font-weight: bold; }

/*************************** General **************************/
#contact_text, p, a, input, textarea, label, h3, h2 {
  font-family: 'Oswald';
  color: grey; }

span.navbar-toggler-icon {
  filter: invert(100%); }

p {
  font-size: 18px; }

a {
  font-size: 18px; }

h3 {
  font-size: 24px; }

h2 {
  font-size: 28px; }

h1 {
  font-size: 32px; }

/********************************* HEADER *******************************************/
body {
  margin: 0;
  background: linear-gradient(360deg, #161616 10%, black 100%); }

html {
  background-color: #161616; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../imgs/stars.jpg");
  background-size: contain; }

img#img-logo {
  height: 150px;
  margin: 25px 0 0 0; }

.topnav ul {
  gap: 30px;
  display: flex;
  border: none;
  text-decoration: none; }

.topnav a {
  color: #9396a7;
  text-decoration: none;
  font-weight: 700; }
  .topnav a.active {
    color: purple !important; }

/******************* Footer *******************/
footer p {
  text-align: center;
  margin: 0; }
  footer p a {
    text-decoration: none;
    color: #6c8893; }

footer .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
  height: 60px; }

footer .icons {
  display: flex;
  gap: 30px;
  -webkit-filter: invert(70%);
  filter: invert(70%); }
  footer .icons a:hover img {
    width: 60px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/********************* Main *******************/
main.home {
  margin-top: -60px;
  padding: 0; }

#home__first_img_title,
#home__second_img_title {
  height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  #home__first_img_title h3,
  #home__second_img_title h3 {
    width: 65%;
    margin: 0 auto; }

#home__first_img_title h3 {
  text-align: initial; }

#home__second_img_title h3 {
  text-align: end; }

#home__first_img_title {
  background: url(../imgs/background5.jpg);
  background-size: cover; }

#home__second_img_title {
  background: url(../imgs/background8.jpg);
  height: 500px;
  background-size: cover; }

#home__img_text {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: space-around; }
  #home__img_text p {
    width: 300px;
    max-width: 100%; }
  #home__img_text img {
    height: 300px;
    object-fit: cover;
    max-height: 100%; }

/******************** What we do **************/
main.what_we_do {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 50px; }

.what_we_do_text {
  width: 500px;
  max-width: 100%; }
  .what_we_do_text h2 {
    text-align: center;
    color: white; }

.what_we_do_sections {
  display: flex;
  gap: 100px;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  align-items: center; }
  .what_we_do_sections img {
    height: 300px;
    width: 300px;
    max-height: 100%; }

/******************** Portfolio ***************/
main.portfolio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
  margin-bottom: 50px; }
  main.portfolio .card img {
    width: 300px;
    max-width: 100%;
    height: 300px;
    max-height: 100%;
    object-fit: cover; }

.portfolio .row.justify-content-around {
  gap: 50px; }

/******************** Our team *****************/
.our_team {
  padding: 0; }

#our_team_banner {
  background: url(../imgs/office_background.jpg);
  animation: gradient 15s ease infinite; }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#our_team_banner h2 {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9396a7;
  text-align: center; }

.employees_card {
  text-align: center; }

.employees .row {
  margin: 0;
  gap: 30px; }
  .employees .row.justify-content-center {
    gap: 50px;
    margin: 40px 0; }

.employees_card img {
  width: 350px;
  min-height: 150px;
  max-height: 250px;
  max-width: 100%;
  height: 250px;
  object-fit: cover; }

.colaborations h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px; }

#colaborations_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px; }
  #colaborations_icons img {
    height: 100px; }

/******************** Contact *****************/
main.contact_page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
  margin-bottom: 50px; }

form.contact_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px; }

#contact_form__checkbox {
  display: flex; }
  #contact_form__checkbox div {
    color: white; }

input#buttom {
  width: 100px;
  border-radius: 5px;
  transition: ease all 0.5s;
  color: black; }
  input#buttom:hover {
    width: 120px;
    background: dimgray;
    color: white;
    transition-timing-function: ease; }

input.form-text {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-left: 5px; }

#contact_text h2 {
  margin: 0; }

#contact_form__checkbox\ mb-3\ form-check {
  display: flex;
  gap: 10px; }

@media (max-width: 850px) {
  /******** Home *********/
  #home__img_text p {
    text-align: center; }
  #home__img_text img {
    width: 100%; }
  #home__img_text {
    flex-direction: column-reverse;
    width: 100%;
    gap: 50px;
    margin-top: 10px; }
  #home__first_img_title {
    background-size: auto; }
  /*Footer*/
  footer .container {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    height: auto; }
  footer .icons {
    flex-wrap: wrap; }
  /******* What we do **********/
  .what_we_do_sections_2 {
    display: flex;
    flex-direction: column-reverse; }
  .what_we_do_sections {
    align-items: center; }
  /******* Colaborations *******/
  #colaborations_icons {
    flex-wrap: wrap; }
  /******** Form ************/
  main.contact_page {
    flex-direction: column;
    gap: 40px; }
  input#buttom {
    margin: 0 auto; } }
