
@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}
@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: "Oswald";
    src: url(/fonts/Oswald-Bold.ttf) format('truetype');
    font-weight: bold;
}
/*************************** General **************************/
#contact_text,p,a,input,textarea,label,h3,h2 {
    font-family: 'Oswald';
    color: grey;
}

/********************************* HEADER *******************************************/
body {
    margin: 0;
    background: linear-gradient(360deg, rgba(22,22,22,1) 10%, rgba(0,0,0,1) 100%);
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url("../imgs/stars.jpg");
    background-size: contain;
    /*filter: drop-shadow(0 6mm 9mm black);*/
}
img#img-logo {
    height: 150px;
    margin: 25px 0 0 0;
}
.topnav ul {
    gap: 30px;
    display: flex;
    border: none;
    text-decoration: none;
}
.topnav a {
    color: rgb(147, 150, 167);
    text-decoration: none;
    font-weight: 700;
}
a.active {
    color: purple;
}
/********************* Main *******************/
main.home {
    margin-top: -60px;
}
div#home__first_img_title h3,
div#home__second_img_title h3{
    width: 65%;
    margin: 0 auto;
}
div#home__first_img_title,
div#home__second_img_title {
    height: 400px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
div#home__first_img_title h3 {
    text-align: initial;
}
div#home__second_img_title h3 {
    text-align: end;
}
div#home__first_img_title {
    background: url(../imgs/background5.jpg);
    background-size: cover;
}
div#home__second_img_title {
    background: url(../imgs/background8.jpg);
    height: 500px;
}
div#home__img_text {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-around;
}
div#home__img_text p {
    width: 300px;
    max-width: 100%;
}
div#home__img_text img {
    height: 300px;
    max-height: 100%;
}
/******************* Footer *******************/
footer p {
    text-align: center;
}
footer p a {
    text-decoration: none;
    color: #6c8893;
}
/******************** What we do **************/
main.what_we_do {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 40px;
}
.what_we_do_text {
    width: 500px;
    max-width: 100%;
}
.what_we_do_text h2 {
    text-align: center;
    color: white;
}
.what_we_do_sections {
    display: flex;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
}
.what_we_do_sections img {
    height: 300px;
    max-height: 100%;
}
/******************** Portfolio ***************/
main.portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.games_card {
    width: 23%;
}
.games_card img {
    height: 250px;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
}
.games_card p {
    width: 250px;
    max-width: 100%;
    margin: 0 auto;
}
/******************** Our team *****************/
div#our_team_banner {
    background: url(../imgs/office_background.jpg);
}
div#our_team_banner h2 {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(147, 150, 167);
}
.employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.employees_card {
    text-align: center;
    width: 33%;
}
.employees_card img {
    height: 250px;
}
.colaborations h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
div#colaborations_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
div#colaborations_icons img {
    height: 100px;
}
/******************** Contact *****************/
main.contact_page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    margin-bottom: 50px;
}
form.contact_form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 25px;
}
#contact_form__checkbox {
    display: flex;
}
div#contact_form__checkbox div {
    color: white;
}
input#buttom {
    width: 100px;
    border-radius: 5px;
    transition: ease all 0.5s;
    color: black;
}
input#buttom:hover {
    width: 120px;
    background: dimgray;
    color: white;
    transition-timing-function: ease;
}
#contact_text h2{
    margin: 0;
}