/******************** Our team *****************/
.our_team {
    padding: 0;
}
#our_team_banner {
    background: url(../imgs/office_background.jpg);    
    animation: gradient 15s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#our_team_banner h2 {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(147, 150, 167);
    text-align: center;
}

.employees_card {
    text-align: center;
}
.employees .row {
    margin: 0;
    gap: 30px;
    &.justify-content-center {
        gap: 50px;
        margin: 40px 0;
    }
}

.employees_card img {
    width: 350px;
    min-height: 150px;
    max-height: 250px;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}
.colaborations h2 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#colaborations_icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    img {
        height: 100px;
    }
}
