/******************* Footer *******************/
footer {
    p {
        text-align: center;
        margin: 0;
        a {
            text-decoration: none;
            color:#6c8893;
        }
    }
    
    .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 40px;
        height: 60px;
    }
    .icons {
        display: flex;
        gap: 30px;
        -webkit-filter: invert(70%); 
        filter: invert(70%);
        a {
            &:hover {
                img {
                    width: 60px;
                }
            }
        }
    }
}